.sig-in-wrapper {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.sig-in-wrapper button {
    margin: 0px 10px;
}

@media(max-width: 992px) {
    .sig-in-wrapper {
        display: flex;
        align-items:flex-start;
    } 
    .sig-in-wrapper button {
        margin: 10px 0px;
    }
  }